{%extends "base.html" %}
{% block mainbody %}
<p>目录扫描</p>
<div class="container">
<canvas id="myChart" width="180" height="180"></canvas>
<script>
const ctx = document.getElementById('myChart');
const data = {
  labels: [
    '2xx',
    '3xx',
    '4xx',
    '5xx'
  ],
  datasets: [{
    label: '饼图实例',
    data: [300, 50, 100,45],
    backgroundColor: [
      'rgb(53, 210, 91)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(255, 66, 66)'
    ],
    hoverOffset: 4
  }]
};
const config = {
  type: 'pie',
  data: data,
  options: {
    responsive: true, // 设置图表为响应式，根据屏幕窗口变化而变化
    maintainAspectRatio: false,// 保持图表原有比例
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:true
		}
	  }]
    }
  }
};
const myChart = new Chart(ctx, config);
</script>
</div>
{% endblock %}

