{%extends "base.html" %}
{% block mainbody %}
<h1>端口扫描</h1>
<div class="row">
    <div class="col p-6">
        <form action="/port-scan/" method="post">
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        {% csrf_token %}
        <label>IP</label>
        <input class="form-control"  type="text" name="ip"><br/>
        <input type="submit" value="开始扫描" class="btn btn-primary btn-block"/>      
        </form>
    </div>
</div>
<div class="row">
    <div class="col p-6">
        <table class="table table-bordered table-striped">
            <tr>
                <th>IP地址</th>
                <th>端口号</th>
                <th>服务名称</th>
                <th>扫描时间</th>
            </tr>
            {% for result in port_list %}
            <tr>
                <td>{{ result.ip }}</td>
                <td>{{ result.portid }}</td>
                <td>{{ result.service }}</td>
                <td>{{ result.datetime }}</td>
            </tr>
            {% endfor %}
        </table>
        <ul class="pagination">
            {% if port_list.has_previous %}
            <li class="page-item"><a class="page-link" href="/port-scan/?page={{ port_list.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if port_list.has_next %}
            <li class="page-item"><a class="page-link" href="/port-scan/?page={{ port_list.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>

</div>
    



{% endblock %}
