{%extends "base.html" %}
{% block mainbody %}
<h1>端口扫描</h1>
<p>当前登录用户:{{ request.session.username }}</p>
<div class="row">
    <div class="col p-3">
        <form action="#" method="post">
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        {% csrf_token %}
        <label>IP</label>
        <input class="form-control"  type="text" name="ip"><br/>
        <label>端口</label>
        <input class="form-control"  type="text" name="port"><br/>
        <input type="submit" value="开始扫描" class="btn btn-primary btn-block"/>	
        </form>
    </div>
    <div class="col p-6">
        .col
    </div>

</div>
{% endblock %}
