<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>注册</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>注册</h1>
<form action="/register/" method="post">
	{% if message %}
		<div class="alert alert-warning">{{ message }}</div>
	{% endif %}
	{% csrf_token %}
	<label>用户名:</label>
	<input type="text" name="username"><br/>
	<label>密  码:</label>
	<input type="password" name="password1"><br/>
	<label>确认密码:</label>
	<input type="password" name="password2"><br/>
	<input type="submit" value="注册" class="btn btn-primary"/>	
</form>

<a href="/">返回登录页</a>
</body>
</html>