{%extends "base.html" %}
{% block mainbody %}
<h1>漏洞搜索</h1>
<div class="row">
    <div class="col p-6">
        <form action="/vul-search/" method="post">
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        {% csrf_token %}
        <label>Zoomeye在线搜索引擎</label>
        <input class="form-control"  type="text" name="keyword"><br/>
        <input type="submit" value="搜索" class="btn btn-primary btn-block"/>      
        </form>
    </div>
</div>
<div class="row">
    <div class="col p-6">
        <table class="table table-bordered table-striped">
            <tr>
                <th>关键词</th>
                <th>应用</th>
                <th>IP地址</th>
                <th>国家</th>
                <th>城市</th>
                <th>搜索时间</th>
            </tr>
            {% for result in record_list %}
            <tr>
                <td>{{ result.keyword }}</td>
                <td>{{ result.app }}</td>
                <td>{{ result.ip }}</td>
                <td>{{ result.country }}</td>
                <td>{{ result.city }}</td>
                <td>{{ result.datetime }}</td>
            </tr>
            {% endfor %}
        </table>
        <ul class="pagination">
            {% if record_list.has_previous %}
            <li class="page-item"><a class="page-link" href="/vul-search/?page={{ record_list.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if record_list.has_next %}
            <li class="page-item"><a class="page-link" href="/vul-search/?page={{ record_list.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
